html {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  color: black;
  overflow: auto;
  text-align: center;
  position: relative;
  font-family: 'Merriweather', serif;
}

h1, h2 {
  margin: 0;
}

p {
  font-size: 20px;
  line-height: 26px;
  margin: 0 0 40px;
}

a:link, a:visited {
  color:black;
  text-decoration: underline;
}

h1 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  color: #202020;
  letter-spacing: 2px;
  font-size: 60px;
  padding: 50px 0;
}

.line {
  display: inline-block;
}

section.dark {
  background-color: #202020;
  color: #ffffff;
}

section.dark h1 {
  color: #ffffff;
}

.column {
  width: 90%;
  padding: 5px 5%;
  margin-bottom: 25px;
}

.column img, .column iframe, .column canvas {
  max-width: 100%;
}

a.button {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: #202020;
  letter-spacing: 2px;
  text-decoration: none;
  border: 2px solid #202020;
  padding: 20px;
  margin: 50px 0;
}



section.main {
  background-image: url('/Images/skyline_1024.jpg');
  background-size: cover;
}

section.main h1 {
  color: white;
  margin: 50px 0 25px;
  padding: 0;
  line-height: 55px;
}

section.main h2 {
  color: white;
  font-size: 20px;
  margin: 0;
  font-weight: normal;
  line-height: 30px;
}

section.main nav {
  margin-top: 75px;
}

section.main nav a {
  display: block;
  padding: 15px;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

section.main nav .separator {
  display: none;
  font-size: 13px;
  color: white;
  padding: 25px;
  animation: spin 5s linear infinite;
}

.overlay {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.3);
}

section.main img.amp {
  height:43px;
}

@media screen and (min-width: 675px) {
  section.main nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section.main nav a {
    display: inline-block;
  }

  section.main nav .separator {
    display: inline-block;
  }

  a.button {
    padding:20px 50px;
  }
}

/* Tagets wider than horizontal phone. */
@media screen and (min-width: 900px) {
  section.main h1 {
    margin: 150px 0 50px;
    font-size: 80px;
  }

  section.main img.amp {
    height: 60px;
    position: relative;
    top: 2px;
  }

  section.main h2 {
    line-height: 50px;
    font-size: 30px;
  }

  section.main nav {
    margin-top: 150px;
  }

  section.main nav a {
    font-size: 30px;
  }

  .column {
    display: inline-block;
    width: 48%;
    max-width: 600px;
    padding: 0 0.8%;
    vertical-align: top;
  }
}

@media screen and (min-width: 1600px) {
  section {
    min-height: auto;
    padding: 100px;
  }

  section.main {
    height: 100vh;
    padding: 0;
  }

  section.main h1 {
    font-size: 80px;
  }
}

@media
screen and (min-width: 1024px),
screen and (min-height: 768px),
screen and (min-device-pixel-ratio:1.5) {
  section.main {
    background-image: url('/Images/skyline_2048.jpg');
  }
}

@media
screen and (min-width: 2048px),
screen and (min-height: 1536px),
screen and (min-device-pixel-ratio:1.5) and (min-width: 1024px),
screen and (min-device-pixel-ratio:1.5) and (min-height: 1536px) {
  section.main {
    background-image: url('/Images/skyline.jpg');
  }
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(60deg);
    }
}

@keyframes quickspin {
    0% {
        transform:rotate(0deg);
    }
    2%, 100% {
        transform:rotate(60deg);
    }
}